/Library
/Logs
/Temp
/Assets/google-services.json
/Assets/google-services.json.meta
/Assets/GoogleService-Info.plist
/Assets/GoogleService-Info.plist.meta
/Assets/StreamingAssets/google-services-desktop.json
/Assets/StreamingAssets/google-services-desktop.json.meta
/.idea
*.csproj
*.sln
/Unity/obj
/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Android/Firebase/res/values/google-services.xml
/Assets/Plugins/Android/Firebase/res/values/google-services.xml.meta
/Builds
/Assets/AddressableAssetsData/Windows.meta
/Assets/AddressableAssetsData/Windows
/Addressables/ServerData
/ServerData